body {
    background-color: rgb(226, 220, 255);
}

#rpsHeader {
    color: navy;
    text-align: center;
}

#userButtons{
    text-align: center;
}

.buttons {
    background-color: navy; 
  border-radius: 12px;
  color: white;
  padding: 15px 32px;
  text-align: center;
  font-size: 20px;
  transition-duration: 0.1s;
}

.buttons:hover{
    background-color: blue;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
    transform: scale(1.1);
}

#gameScore {
    text-align: center;
    color: navy;
    font-size: 2rem;
}